@font-face {
  font-family: 'Norwester';
  src: url('fonts/norwester.otf'), url('fonts/norwester.ttf') format('truetype'), url('fonts/norwester.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/RobotoCondensed.otf'), url('fonts/RobotoCondensed.ttf') format('truetype'), url('fonts/RobotoCondensed.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

*
{
  color: black;
  font-size: 28px;
  font-weight: 300;
  box-sizing: border-box;
  font-family: 'Norwester'; font-weight: 400;
  src: url(/fonts/norwester.otf);
}

body
{
  background-color: #a50000;
  padding: 50px;
}

header,
nav,
section,
aside,
footer
{
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 5px;
  padding: 50px;
}

header,
nav,
footer
{
  width: 100%;
  padding: 50px;
}

header
{
  margin-bottom: 50px;
}

h1
{
  color: black;
  text-align: center;
  font-size: 100px;
	font-weight: 600;
	line-height: 1.5;
	margin: 0 0 2px 0;
	font-family: 'Norwester';
  src: url(/fonts/norwester.otf);
}

h2
{
  color: black;
  text-align: center;
  font-size: 50px;
	font-weight: 600;
	line-height: 1.5;
	margin: 0 0 2px 0;
	font-family: 'Norwester';
  src: url(/fonts/norwester.otf);
}

h3{
  color: black;
  text-align: center;
  font-size: 25px;
	font-weight: 600;
	line-height: 1.5;
	margin: 0 0 2px 0;
	font-family: 'Roboto Condensed';
}

h4{
  color: rgb(79, 79, 255);
  text-align: justify;
  font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	margin: 0 0 2px 0;
	font-family: 'Roboto Condensed';
}

nav,
aside
{
  width: 25%;
}

section
{
  float: left;
  width: calc(50% - 100px);
  margin: 0 50px 50px 50px;
}

section header,
section article,
section footer
{
  width: 100%;
  background-color: #a50000;
  border-radius: 5px;
  margin: 0;
  padding: 50px;
}

section article
{
  margin: 25px 0;
}

nav
{
  float: left;
}

aside
{
  float: right;
}

nav ul
{
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

nav li
{
  display: inline-block;
  margin: 0 0 0 50px;
  width: 100px;
}

nav li:first-child
{
  margin-left: 0;
}

footer
{
  clear: both;
}
/* Navigation bar */

/* Background */
.topnav {
    background-color: white;
    overflow: hidden;
  }
  
  /* Estilo de los enlaces dentro de la barra de navegación */
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Cambia el color de los enlaces */
  .topnav a:hover {
    background-color: #a50000;
    color: black;
  }
  
  /* Color en el link actual */
  .topnav a.active {
    background-color: #000000;
    color: white;
  }

/* Tamanio de imagenes */
img {
    width: 50%;
    height: auto;
}

/* Watermark (Marca de agua)*/

.watermark{
  position: fixed;
  top: 90%;
  left: 85%;
  opacity: 0.3;
  color: #000000;
  font-size: 2em;
  font-family: Helvetica, sans-serif, Arial;
  z-index: 1;
}

/* Question Cursor (Cursor de pregunta)*/

.question{
  color: black;
  text-align: center;
  font-size: 25px;
	font-weight: 600;
	line-height: 1.5;
	margin: 0 0 2px 0;
	font-family: 'Roboto Condensed';
  cursor:help;
}

.contenedor {
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
}

.box {
  position: relative;
  margin-bottom: 1em;
  padding: 1em;
  background-color: black;
  color: white;
  text-align: center;
}

.bigBox {
  margin-top: 1em;
  border: 1px solid black;
  height: 19em;
  text-align: center;
}
